@smartphones: ~"only screen and (min-width: 320px) and (max-width: 767px)"; /* Most of the Smartphones Mobiles (Portrait)*/
              /*Low Resolution Tablets, Mobiles (Landscape)*/
@tablets: ~"(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";/*##Device = Tablets, Ipads (landscape)*/
@tablets-porttret: ~"(min-width: 768px) and (max-width: 1024px)";/*##Device = Tablets, Ipads (portret)*/
@laptop-desktop: ~"(min-width: 1025px) and (max-width: 1280px)";/*##Device = Laptops, Desktops*/
@hi-res: ~"(min-width: 1281px)";

/*boje*/
@crvena_boja: #A02534;
@plava_boja: #323D4F;
@zuta_boja: #F8BF39;
@white: white;

/*fontovi*/
@navbar: 'Teko', sans-serif;
@headings: 'Nunito Sans', sans-serif;
@main_paragraph: 'Lora', serif;
@text: 'Poppins', sans-serif;

html, body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.about_main{
  h2{
    font-family: @headings;
    color: @crvena_boja;
    opacity: 0.7;
  }
  .left{
    img{box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.2), -10px 16px 20px 0 rgba(0, 0, 0, 0.19);}
    .inner{
      img{
        width:auto;
        max-width: 100%;
        height: auto;
      }
    }
    .okvir{ border: 1px solid #323D4F66; }
  }
  .right{
    font-family: @main_paragraph;
    color: @plava_boja;
    p{
      margin-bottom: 4rem;
    }
    a{
      font-family: @navbar;
      text-transform: uppercase;
      letter-spacing: .0625rem;
      text-decoration: none;
      color: @crvena_boja;
    }
    .a_border_bottom{
      border-bottom: 1px solid @crvena_boja;
      width: 204px;
    }
  }

}
.nav{
  font-family: @navbar;
  nav{
    text-transform: uppercase;
    font-weight: 400;
    ul{
      li{
        list-style-type: none;
        a{
          color: @plava_boja;
          text-decoration: none;
        }
        a:hover{
          color: @crvena_boja;
          border-bottom: 2px solid @crvena_boja;
        }
      }
    }
    .active{
      color: @crvena_boja;
      border-bottom: 2px solid @crvena_boja;
    }
  }
}

@media @smartphones{
  .about{
    width: 100%;
    position: relative;
    .header{ display: none; }
    .header_mobile{
      position: relative;
      z-index: 5000;
      .nav{
        height: 100%;
        width: 100%;
        transform-origin: 0 50px;
        position: fixed;
        overflow-x: hidden;
        left: 0;
        top: 0;
        z-index: -10;
        background-color: @white;
        nav{
          margin-top: 6rem;
          ul{
            padding: 0;
            li{
              text-align: center;
              margin-bottom: 1rem;
              a{
                letter-spacing: .0625rem;
                font-size: 1.6rem;
              }
            }
          }
        }
        .sotialNetworks{
          text-align: left;
          margin-top: 3rem;
          text-align: center;
          img{ opacity: 0.5; }
        }
      }
      .logo{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        margin-top: 0.48rem;
        img{
          width: 120px;
          height: auto;
        }
        /*hamburger*/

      .hamburger {
        width: 60px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

      }

      .hamburger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 50%;
        background: @crvena_boja;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      .hamburger span:nth-child(1) {
        top: 0px;
      }

      .hamburger span:nth-child(2),.hamburger span:nth-child(3) {
        top: 10px;
      }

      .hamburger span:nth-child(4) {
        top: 20px;
      }
      .hamburger.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .hamburger.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      }
    }
    .about_main{
      padding: 1rem;
      margin-top: 2rem;
      position: relative;
      opacity: 0;
        h2{
          font-size: 4.5rem;
          position: absolute;
          top: -1.2rem;
          left: 1rem;
          margin: 0;
          z-index: 1000;
        }
        .left{
          .inner{
            img{ margin-top: 1.7rem; opacity: 0.75; }
          }
          .okvir{ display: none;}
        }
      .right{
        p{
          font-size: 1.15rem;
          line-height: 1.8rem;
          margin-bottom: 1.5rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
@media @hi-res{
  body{
    height: 100vh;
    .about{
      width: 1700px;;
      margin: 0 auto;
      .header{
        display: flex;
        justify-content: space-between;

        .logo{
          img{
            width: 200px;
            height: auto;
            margin-top: 1rem;
          }
        }
        .nav{
          font-size: 1.125rem;
          margin-top: 1rem;
          nav{
            ul{

              li{
                margin-left: 1.5625rem;
                display: inline-block;
                a{
                  letter-spacing: .0625rem;
                }
              }
            }
          }
        }
      }
      .header_mobile{ display: none;}
      .about_main{
        display: flex;
        position: relative;
        width: 1450px;
        margin-top: 10rem;
        margin-left: 10rem;
        opacity: 0;
        h2{
          position: absolute;
          font-size: 4.5rem;
          left: 48rem;
        }
        .right{
          width: 30%;
          font-size: 1.875rem;
          margin-top: 10rem;
          a{
            font-size: 1rem;
          }
        }
        .left{
          width: 60%;
          position: relative;
          z-index: -5;
          .inner{
            padding: .625rem;
          }
          .okvir{
            width: 800px;
            height: 555px;
            position: absolute;
            top: 4rem;
            left: -2rem;
            z-index: -10;
          }
        }

      }
    }
  }
}
