/* Most of the Smartphones Mobiles (Portrait)*/
/*Low Resolution Tablets, Mobiles (Landscape)*/
/*##Device = Tablets, Ipads (landscape)*/
/*##Device = Tablets, Ipads (portret)*/
/*##Device = Laptops, Desktops*/
/*boje*/
/*fontovi*/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.about_main h2,
.contact_main h2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #A02534;
  opacity: 0.7;
}
.about_main .left img,
.contact_main .left img {
  box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.2), -10px 16px 20px 0 rgba(0, 0, 0, 0.19);
}
.about_main .left .okvir,
.contact_main .left .okvir {
  border: 1px solid #323D4F66;
}
.about_main .right,
.contact_main .right {
  font-family: 'Lora', serif;
  color: #323D4F;
}
.about_main .right p,
.contact_main .right p {
  margin-bottom: 4rem;
}
.about_main .right a,
.contact_main .right a {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: .0625rem;
  text-decoration: none;
  color: #A02534;
}
.about_main .right button,
.contact_main .right button {
  border: 1px solid #A02534;
  background-color: white;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: #A02534;
}
.about_main .right .a_border_bottom,
.contact_main .right .a_border_bottom {
  border-bottom: 1px solid #A02534;
  width: 204px;
}
.about_main .right .modal .modal-content h3,
.contact_main .right .modal .modal-content h3 {
  color: #A02534;
  font-family: 'Lora', serif;
}
.about_main .right .modal .modal-content form,
.contact_main .right .modal .modal-content form {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.about_main .right .modal .modal-content form input,
.contact_main .right .modal .modal-content form input {
  font-family: 'Poppins', sans-serif;
}
.about_main .right .modal .modal-content form textarea,
.contact_main .right .modal .modal-content form textarea {
  font-family: 'Lora', serif;
  padding: 0.5rem;
}
.about_main .right .modal .modal-content form .submit-msg-btn,
.contact_main .right .modal .modal-content form .submit-msg-btn {
  font-family: 'Teko', sans-serif;
  background-color: white;
  color: #A02534;
  text-transform: uppercase;
  border: 1px solid #A02534;
}
.contact_main {
  opacity: 0;
}
.contact_main a {
  border: 1px solid #A02534;
  width: 204px;
  padding: 0.2rem 0.8rem;
}
.nav {
  font-family: 'Teko', sans-serif;
}
.nav nav {
  text-transform: uppercase;
  font-weight: 400;
}
.nav nav ul li {
  list-style-type: none;
}
.nav nav ul li a {
  color: #323D4F;
  text-decoration: none;
}
.nav nav ul li a:hover {
  color: #A02534;
  border-bottom: 2px solid #A02534;
}
.nav nav .active {
  color: #A02534;
  border-bottom: 2px solid #A02534;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .wrapp {
    width: 100%;
    position: relative;
  }
  .wrapp .header {
    display: none;
  }
  .wrapp .header_mobile {
    position: relative;
    z-index: 5000;
  }
  .wrapp .header_mobile .nav {
    height: 100%;
    width: 100%;
    transform-origin: 0 50px;
    position: fixed;
    overflow-x: hidden;
    left: 0;
    top: 0;
    z-index: -10;
    background-color: white;
  }
  .wrapp .header_mobile .nav nav {
    margin-top: 6rem;
  }
  .wrapp .header_mobile .nav nav ul {
    padding: 0;
  }
  .wrapp .header_mobile .nav nav ul li {
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrapp .header_mobile .nav nav ul li a {
    letter-spacing: .0625rem;
    font-size: 1.6rem;
  }
  .wrapp .header_mobile .nav .sotialNetworks {
    text-align: left;
    margin-top: 3rem;
    text-align: center;
  }
  .wrapp .header_mobile .nav .sotialNetworks img {
    opacity: 0.5;
  }
  .wrapp .header_mobile .logo {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.48rem;
    /*hamburger*/
  }
  .wrapp .header_mobile .logo img {
    width: 120px;
    height: auto;
  }
  .wrapp .header_mobile .logo .hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .wrapp .header_mobile .logo .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #A02534;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .wrapp .header_mobile .logo .hamburger span:nth-child(1) {
    top: 0px;
  }
  .wrapp .header_mobile .logo .hamburger span:nth-child(2),
  .wrapp .header_mobile .logo .hamburger span:nth-child(3) {
    top: 10px;
  }
  .wrapp .header_mobile .logo .hamburger span:nth-child(4) {
    top: 20px;
  }
  .wrapp .header_mobile .logo .hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .wrapp .header_mobile .logo .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .wrapp .header_mobile .logo .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .wrapp .header_mobile .logo .hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .wrapp .about_main,
  .wrapp .contact_main {
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    opacity: 0;
  }
  .wrapp .about_main h2,
  .wrapp .contact_main h2 {
    font-size: 4.5rem;
    position: absolute;
    top: -1.2rem;
    left: 1rem;
    margin: 0;
    z-index: 1000;
  }
  .wrapp .about_main .left .inner img,
  .wrapp .contact_main .left .inner img {
    margin-top: 1.7rem;
    opacity: 0.75;
  }
  .wrapp .about_main .left .okvir,
  .wrapp .contact_main .left .okvir {
    display: none;
  }
  .wrapp .about_main .right p,
  .wrapp .contact_main .right p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1281px) {
  body {
    height: 100vh;
  }
  body .wrapp {
    width: 1700px;
    margin: 0 auto;
  }
  body .wrapp .header {
    display: flex;
    justify-content: space-between;
  }
  body .wrapp .header .logo img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
  }
  body .wrapp .header .nav {
    font-size: 1.125rem;
    margin-top: 1rem;
  }
  body .wrapp .header .nav nav ul li {
    margin-left: 1.5625rem;
    display: inline-block;
  }
  body .wrapp .header .nav nav ul li a {
    letter-spacing: .0625rem;
  }
  body .wrapp .header_mobile {
    display: none;
  }
  body .wrapp .about_main {
    display: flex;
    position: relative;
    width: 1450px;
    margin-top: 10rem;
    margin-left: 10rem;
    opacity: 0;
  }
  body .wrapp .about_main h2 {
    position: absolute;
    font-size: 4.5rem;
    left: 48rem;
  }
  body .wrapp .about_main .right {
    width: 30%;
    font-size: 1.875rem;
    margin-top: 10rem;
  }
  body .wrapp .about_main .right a {
    font-size: 1rem;
  }
  body .wrapp .about_main .left {
    width: 60%;
    position: relative;
    z-index: -5;
  }
  body .wrapp .about_main .left .inner {
    padding: .625rem;
  }
  body .wrapp .about_main .left .inner img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  body .wrapp .about_main .left .okvir {
    width: 800px;
    height: 555px;
    position: absolute;
    top: 4rem;
    left: -2rem;
    z-index: -10;
  }
  body .wrapp .contact_main {
    display: flex;
    position: relative;
    width: 1450px;
    margin-top: 4rem;
    margin-left: 10rem;
  }
  body .wrapp .contact_main h2 {
    position: absolute;
    font-size: 4.5rem;
    left: 32rem;
  }
  body .wrapp .contact_main .right {
    width: 60%;
    font-size: 1.875rem;
    margin-top: 10rem;
  }
  body .wrapp .contact_main .right button {
    position: absolute;
    bottom: 10px;
    font-size: 1.2rem;
    padding: 8px 25px;
  }
  body .wrapp .contact_main .right button:hover {
    color: white;
    background-color: #A02534;
  }
  body .wrapp .contact_main .right .contact_text {
    display: flex;
    justify-content: space-between;
  }
  body .wrapp .contact_main .right .contact_text .contact_text_left,
  body .wrapp .contact_main .right .contact_text .contact_text_right {
    font-size: 1.5rem;
  }
  body .wrapp .contact_main .left {
    width: 40%;
    position: relative;
    z-index: -5;
  }
  body .wrapp .contact_main .left .inner {
    padding: .625rem;
  }
  body .wrapp .contact_main .left .inner img {
    width: auto;
    max-width: 94%;
    height: auto;
  }
  body .wrapp .contact_main .left .okvir {
    width: 510px;
    height: 765px;
    position: absolute;
    top: 4rem;
    left: -3rem;
    z-index: -10;
  }
  body .wrapp .contact_main .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000000;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */
  }
  body .wrapp .contact_main .modal .modal-content {
    background-color: #fefefe;
    /*margin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 56%;
    height: 80vh;
    float: right;
    position: relative;
    /* The Close Button */
  }
  body .wrapp .contact_main .modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  body .wrapp .contact_main .modal .modal-content .close:hover,
  body .wrapp .contact_main .modal .modal-content .close:focus {
    color: #A02534;
    text-decoration: none;
    cursor: pointer;
  }
  body .wrapp .contact_main .modal .modal-content form {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
  }
  body .wrapp .contact_main .modal .modal-content form #fname {
    width: 80%;
  }
  body .wrapp .contact_main .modal .modal-content form input {
    font-size: 1rem;
    font-weight: 400;
    color: #686b6f;
    resize: vertical;
    border: none;
    border-bottom: 1px solid #A02534;
    margin-top: .25rem;
  }
  body .wrapp .contact_main .modal .modal-content form textarea {
    resize: none;
    width: 100%;
    height: 50%;
    border: 1px solid #A02534;
    margin-top: 1rem;
  }
  body .wrapp .contact_main .modal .modal-content form .first_last_name {
    display: flex;
    justify-content: space-between;
  }
  body .wrapp .contact_main .modal .modal-content form .emai-phone-form {
    display: flex;
    justify-content: space-between;
  }
  body .wrapp .contact_main .modal .modal-content form .emai-phone-form .email label,
  body .wrapp .contact_main .modal .modal-content form .emai-phone-form .phone label {
    padding-right: 1rem;
  }
  body .wrapp .contact_main .modal .modal-content form .emai-phone-form .email input,
  body .wrapp .contact_main .modal .modal-content form .emai-phone-form .phone input {
    width: 22rem;
  }
  body .wrapp .contact_main .modal .modal-content form .subject {
    margin-top: 2rem;
  }
  body .wrapp .contact_main .modal .modal-content form .submit-msg-btn {
    position: absolute;
    bottom: 4rem;
    font-size: 1.2rem;
    padding: 8px 25px;
  }
  body .wrapp .contact_main .modal .modal-content form .submit-msg-btn:hover {
    color: white;
    background-color: #A02534;
  }
}
